{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Comics Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    main {
      flex: 1;
    }
  </style>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a href="/" class="navbar-brand">Comics Collector</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" href="/hire_me">Hire me!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/exclusive">Exclusive</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'index' %}">Comics for sale</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="container mt-4">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="bg-dark text-light text-center py-3">
    <div class="container">
      All Rights Reserved, &copy; 2023 Comics Collector
    </div>
  </footer>

  <!-- Bootstrap JS Bundle with Popper.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
